.main {
    max-width: 1300px;
    margin: 30px auto;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 6px;
        a {
            text-decoration: none;
        }
        @media screen and (max-width:440px) {
         font-size: 0.8em;   
        }
    }
    
    &__movies {
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 20px 0;
        &__movie {
            margin: 10px 10px;
            max-width: 200px;
            position: relative;
            transition: transform 0.3s;
            a {
                text-decoration: none;
                color: black;
            }
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}