.main {
    max-width: 1300px;
    margin: 30px auto;
    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0 6px;
        &__all-movies {
            background: #8F8A8A;
            border: none;
            padding: 5px 15px;
            border-radius: 8px;
            color: white;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                transform: scale(1.1, 1.1);
                background: lightcoral;
            }
            &:active {
                transform: scale(1.05, 1.05);
            }
        }
        @media screen and (max-width:440px) {
         font-size: 0.8em;   
        }
    }
    
    &__movies {
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 20px 0;
        &__movie {
            margin: 10px 10px;
            max-width: 200px;
            position: relative;
            transition: transform 0.3s;
            a {
                text-decoration: none;
                color: black;
            }
            &__image {
                width: 200px;
                height: 300px;
                border-radius: 5px;
            }
            &__name {
                padding: 10px 0;
                font-weight: bold;
            }
            &__rating {
                position: absolute;
                top: 5px;
                left: 5px;
                color: white;
                background: rgb(78, 212, 78);
                padding: 4px;
                border-radius: 4px;
            }
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
    &__more {
       display: block;
       margin: 0 auto; 
       background: lightcoral;
       border: none;
       padding: 5px 15px;
       border-radius: 8px;
       color: white;
       transition: all 0.3s;
       height: 37px;
       cursor: pointer;
       &:hover {
           transform: scale(1.1, 1.1);
       }
       &:active {
           transform: scale(1.05, 1.05);
       }
    }
}