.rating {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    background: rgb(78, 212, 78);
    padding: 4px;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
}
.ratingBlockFilm {
    color: rgb(78, 212, 78);
    font-size: 1.4em;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}