.authPage {
    margin-top: 70px;
    background-color: lightcoral;
    height: calc(100vh - 70px);
    position: relative;
    &__wrapper {
        position: absolute;
        left:35%;
        top:25%;
        width: 30%;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        padding: 40px 10%;
        &__info {
            margin: 10px 0;
            padding: 2px 2px;
        }
    }
}