.buttonFilm {
    display: block;
    margin: 0 auto;
    background: #8F8A8A;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    color: white;
    transition: all 0.3s;
    height: 37px;
    cursor: pointer;
    text-align: center;

    &:hover {
        transform: scale(1.1, 1.1);
        background: lightcoral !important;
    }

    &:active {
        transform: scale(1.05, 1.05);
    }
}