.addInformation {
    max-width: 1300px;
    margin: 0 auto;
    @media screen and (max-width: 700px) {
        margin: 0 10px;
    }
    &__wrapper {
        font-family: 'Open Sans', sans-serif;
        &__header {
            display: flex;
            border-bottom: 1px solid grey;
            margin-bottom: 30px;
            &__name {
                margin-right: 10px;
                cursor: pointer;
            }
        }
        &__content {
            &__item {
                border-bottom: 1px solid rgb(204, 204, 204);
                margin-bottom: 15px;
                color: grey;
                font-family: 'Cormorant SC', serif;
                a {
                    color: rgb(59, 59, 59);
                    text-decoration: none;
                }
            }
        }
    }
}
.red {
    border-bottom: 2px solid lightcoral;
}