.aboutFilm {
    max-width: 1300px;
    margin: 120px auto 60px auto;
    display: flex;
    position: relative;
    &__btnBack {
        height: 30px;
        position: absolute;
        top: -35px;
        background: none;
        border: none;
        cursor: pointer;
        font-family: 'Oswald', sans-serif;
        transition: transform 1s;
        &:hover {
            transform: rotate(360deg);
        }
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;
        margin: 120px 10px 60px 10px;
        align-items: center;
    }
    &__image {
        width: 300px;
        border-radius: 10px;
    }
    &__wrapper {
        margin-left: 30px;
        &__name {
            font-family: 'Oswald', sans-serif;
        }
        &__nameOriginal {
            color: grey;
            margin: 20px 0;
            &__ageLimits {
                border: 1px solid grey;
                border-radius: 5px;
                margin-left: 5px;
            }
        }
        &__description {
            margin: 20px 0;
            font-family: 'Oswald', sans-serif;
        }
        &__list {
            list-style-type: none;
            &__par {
                margin: 15px 0;
                display: flex;
                font-family: 'Raleway', sans-serif;
                span:first-child {
                    min-width: 200px;
                    color: rgb(100, 100, 100);
                }
            }
        }
        &__viewing {
            background-color: lightcoral;
            color: white;
            &:hover {
                background-color: rgb(230, 95, 95);
            }
            @media screen and (max-width: 700px) {
                margin-bottom: 10px; 
            }
        }
        &__favorites {
            background-color: rgb(199, 199, 199);
            color: black;
            &:hover {
                background-color: rgb(156, 156, 156);
            }
        }
        @media screen and (max-width: 700px) {
            margin: 0 10px;
        }
    }
}
.btn-description {
    border-radius: 25px;
    padding: 15px 25px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    font-family: 'Open Sans', sans-serif;
    &:active {
        transform: scale(0.95, 0.95);
    }
}